    <!--// Footer \\-->
		<footer id="sportsmagazine-footer" class="sportsmagazine-footer-one">

      <!--// Footer Widget \\-->
      <div class="sportsmagazine-footer-widget">
          <div class="container">
              <div class="row">

                  <!--// Widget Contact Info \\-->
                  <aside class="col-md-4 widget widget_contact_info">
                      <p>Game On ! Votre meilleur source sur le monde du basket-ball pour faire des paris en ligne.</p>

                      <ul class="sportsmagazine-info-list">
                          <li><i class="fa fa-map-marker"></i> <span>3 rue Danton, 92240 Malakoff</span></li>
                          <li><i class="fa fa-phone"></i> <span>(+33) 673421987</span></li>
                          <li><i class="fa fa-envelope"></i> <span><a href="mailto:skmass84@gameon.com">Projet4@gameon.com</a></span></li>
                      </ul>

                  </aside>
                  <!--// Widget Contact Info \\-->
                  <!--// Widget Twitter \\-->
                  <aside class="col-md-4 widget widget_twitter">
                      <div class="footer-widget-title"><h2>Twitter</h2></div>
                      <ul>
                          <li>
                              <i class="fa fa-twitter"></i> <span>#WNBA</span>
                              <p>Les derniers tweet de la WNBA : <a href="404.html">https://t.co/XHrPAM4ANv</a></p>
                              <time datetime="2008-02-14 20:00"><i class="fa fa-clock-o"></i> 2 Hours Ago</time>
                          </li>
                                </ul>
                  </aside>
                  <!--// Widget Twitter \\-->
                  <!--// Widget Gallery \\-->
                  <aside class="col-md-4 widget widget_gallery">
                      <div class="footer-widget-title"><h2>Dernières photos</h2></div>
                      <ul>
                          <li><a data-fancybox-group="group" href="assets/extra-images/widget-gallery-1.jpg" class="fancybox"><img src="assets/extra-images/widget-gallery-1.jpg" alt=""></a></li>
                          <li><a data-fancybox-group="group" href="assets/extra-images/widget-gallery-2.jpg" class="fancybox"><img src="assets/extra-images/widget-gallery-2.jpg" alt=""></a></li>
                          <li><a data-fancybox-group="group" href="assets/extra-images/widget-gallery-3.jpg" class="fancybox"><img src="assets/extra-images/widget-gallery-3.jpg" alt=""></a></li>
                          <li><a data-fancybox-group="group" href="assets/extra-images/widget-gallery-4.jpg" class="fancybox"><img src="assets/extra-images/widget-gallery-4.jpg" alt=""></a></li>
                          <li><a data-fancybox-group="group" href="assets/extra-images/widget-gallery-5.jpg" class="fancybox"><img src="assets/extra-images/widget-gallery-5.jpg" alt=""></a></li>
                          <li><a data-fancybox-group="group" href="assets/extra-images/widget-gallery-6.jpg" class="fancybox"><img src="assets/extra-images/widget-gallery-6.jpg" alt=""></a></li>
                          <li><a data-fancybox-group="group" href="assets/extra-images/widget-gallery-7.jpg" class="fancybox"><img src="assets/extra-images/widget-gallery-7.jpg" alt=""></a></li>
                          <li><a data-fancybox-group="group" href="assets/extra-images/widget-gallery-8.jpg" class="fancybox"><img src="assets/extra-images/widget-gallery-8.jpg" alt=""></a></li>
                        </ul>
                  </aside>
                  <!--// Widget Gallery \\-->

              </div>
          </div>
          <a href="#" class="sportsmagazine-back-top"><i class="fa fa-angle-up"></i></a>
      </div>
      <!--// Footer Widget \\-->

      <!--// CopyRight \\-->
      <div class="sportsmagazine-copyright">
          <div class="container">
              <div class="row">
                  <aside class="col-md-6 sportsmagazine-copyright-left"><p>© 2022, All Right Reserved - <a href="index.html">Cheick D.</a></p></aside>
                  <aside class="col-md-6 sportsmagazine-copyright-right">
                  </aside>
              </div>
          </div>
      </div>
      <!--// CopyRight \\-->

</footer>
<!--// Footer \\-->
