	<!--// SubHeader \\-->
  <div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Chances des equipes</h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li><a href="index.html">Acceuil</a></li>
                    <li>Chances</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// SubHeader \\-->

<!--// WNBA Odds \\-->
<div class="container">
<table>
  <tr>
      <th>Matchs</th>

  </tr>
  <tr *ngFor="let AllGame of AllOdds">
    <td>{{AllGame.game.teams.home.name}}</td>
    <img src="{{AllGame.game.teams.home.logo}}"/>

    <td>{{AllGame.game.teams.away.name}}</td>
    <img src="{{AllGame.game.teams.away.logo}}"/>

  <td>{{AllGame.game.scores.away.total}}</td>
  <td>{{AllGame.game.scores.home.total}}</td>





</tr>

  </table>
</div>
