<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>


<!--// Main Banner \\-->
<div class="sportsmagazine-banner">

  <!--// Slider \\-->
  <div class="sportsmagazine-banner-one">
    <div class="sportsmagazine-banner-one-layer">
      <img src="assets/extra-images/banner-1.jpg" alt="">
      <span class="sportsmagazine-banner-pattren"></span>
      <div class="sportsmagazine-banner-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="sportsmagazine-banner-wrap">
                <h1><span>Votre meilleure</span>source d'information sur le<strong class="sportsmagazine-color"> game.</strong></h1>
                <p>Game On ! vous vous fournit toutes les informations pour faire les meilleurs pari sur les matchs basket-ball.</p>
                <a href="404.html" class="sportsmagazine-banner-btn">En savoir plus <span></span></a>
              </div>
              <div class="sportsmagazine-banner-thumb"> alt=""> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sportsmagazine-banner-one-layer">
      <img src="assets/extra-images/banner-2.jpg" alt="">
      <span class="sportsmagazine-banner-pattren"></span>
      <div class="sportsmagazine-banner-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="sportsmagazine-banner-wrap">
                <h1 class="sportsmagazine-color1"><span class="sportsmagazine-color1">WNBA</span> Faites l'expérience de la meilleure compétition féminine de <strong class="sportsmagazine-color1">Basket.</strong></h1>
                <p class="sportsmagazine-color1">Toutes les analyses des derniers matchs sont disponibles ici !</p>
                <a href="404.html" class="sportsmagazine-banner-btn">En savoir plus <span></span></a>
              </div>
              <div class="sportsmagazine-banner-thumb"> alt=""> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Slider \\-->

  <!--// Main Banner \\-->


</div>
